// @font-face {
//     font-family: "Kumbh Sans";
//     src: url(/src/fonts/KumbhSans-Regular.woff2);
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Kumbh Sans";
//     src: url(/src/fonts/KumbhSans-Regular.woff2);
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src: url(/src/fonts/Inter-Regular.woff2);
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src: url(/src/fonts/Inter-Medium.woff2);
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src: url(/src/fonts/Inter-SemiBold.woff2);
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src: url(/src/fonts/Inter-Bold.woff2);
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }